{% extends "templates/_base.htm" %}
{% block bodycontent %}

<!-- Header -->
	<div id="header">	
		<!-- Logo -->
			<h1><a href="/" id="logo">Goggin Ballroom Dancing <em>Ballroom, Latin, & Swing Lessons</em></a></h1>
		<!-- Nav -->
			<nav id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li>
						<a href="">Dances</a>
							<ul>
								<li><a href="dances">Ballroom</a></li>
								<li><a href="dances">Latin</a></li>
								<li><a href="dances">Swing</a></li>			
							</ul>
					</li>
					<li><a href="contact">Contact</a></li>
					<li><a href="resources">Resources</a></li>
					<li><a href="photos">Photos</a></li>
					<li><a href="lessons">Dance Lessons</a></li>
					<li><a href="gift">Gift Certificates</a></li>
					<li><a href="login">Login</a></li>
				</ul>
			</nav>
		</div>


		<!-- Main -->
			<section class="wrapper style1">
				<div class="container">
					<div id="content">

						<!-- Content -->

								<header>
									<h2><center>Under Construction</center></h2>
								</header>
								
								<span class="image featured"><img src="images/web-construction.jpg" alt="" /></span>
				
					</div>
				</div>
			</section>			

		<!-- Footer -->
			<div id="footer">

			</div>

	{% endblock %}