{% extends "templates/_base.htm" %}
{% block bodycontent %}
<link rel="stylesheet" href="css/gift.css" />


<!-- Main -->
	<section class="wrapper style1">
		<div class="container">

			<!-- Content -->
			
				<header>
				<h2><center>Order A Gift Certificate!</center></h2>
				</header>
				<div class="container">
					<p>Please enter your email, the recipient of the gift certificate, the amount, the shipping address, and the method of payment, and the shipping address you would like it to be sent to in the form below.
					</p>
				</div>
				<form action="/giftemail" method="post">
					<fieldset>
						<legend>Place an Order</legend>
						<div>
							<label class="field">Your name:</label>
							<input type="text" name="cust" class="textbox" />
						</div>
						<div>
							<label class="field">Email:</label>
							<input type="text" name="email" class="textbox" />
						</div>
						<div>
							<label class="field">Address:</label>
							<input type="text" name="address" class="textbox" />
							<label class="field">City:</label>
							<input type="text" name="city" class="textbox" />
							<label class="field">State:</label>
							<input type="text" name="state" class="textbox" />
							<label class="field">Zip:</label>
							<input type="text" name="zip" class="textbox" />
						</div>
						<div>
							<label class="field">Recipient:</label>
							<input type="text" name="recipient" class="textbox" />
						</div>
						<div>
							<label class="field">Amount:</label>
							<input type="text" name="amount" class="textbox" />
						</div>
						<div>
							<input type="submit" value="Place Order" />
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
