{% extends "templates/_base.htm" %}
{% block bodycontent %}
		<!-- Main -->
			<section class="wrapper style1">
				<div class="container">
					<div id="content">

						<!-- Content -->

								<header>
									<h2><center>Login</center></h2>
								</header>
								<div id = "loginError">Invalid credentials</div>
								<form method="post" action="/login">
									<input type="text" name="username" placeholder="Username"></input>
									<input type="text" name="password" placeholder="Password"></input>
									<input type="submit" value="Login"></input>
								</form>
								
					</div>
				</div>
			</section>			

		<!-- Footer -->
			<div id="footer">

			</div>

	{% endblock %}